header {
  height: 50px;

  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.titulo {
  font-size: 25px;
  padding: 10px;
  color: white;
}

.button-reiniciar {
  position: absolute;
  left: 12px;
  top: 58px;
  background: #ed6495;

  background-image: -webkit-linear-gradient(top, #ed6495, #6495ed);
  border-radius: 28px;
  text-shadow: 3px 2px 1px #9daef5;
  font-family: Arial, Helvetica, sans-serif;
  color: #fafafa;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;

  /* background-image: -webkit-linear-gradient(top, #ed6495, #6495ed); */
  /* background-image: -moz-linear-gradient(top, #ed6495, #6495ed);
  background-image: -ms-linear-gradient(top, #ed6495, #6495ed);
  background-image: -o-linear-gradient(top, #ed6495, #6495ed);
  background-image: linear-gradient(to bottom, #ed6495, #6495ed); */
}
.button-reiniciar:hover {
  background: #6495ed;
  background-image: -webkit-linear-gradient(top, #6495ed, #ed6495);
}
